.animated-underline {
  position: relative;
  display: inline-block;
}

.animated-underline:hover svg path {
  d: path("M 0,10 Q 50,-10 100,10");
  animation: underline-wobble 0.6s ease infinite;
  /* stroke: red; */
}

@keyframes underline-wobble {
  0% {
    d: path("M0,5 Q25,0 50,5 T100,5");
  }

  15% {
    d: path("M0,10 Q50,-10 100,10");
  }

  30% {
    d: path("M0,2 Q50,12 100,2");
  }

  45% {
    d: path("M0,8 Q50,-5 100,8");
  }

  60% {
    d: path("M0,4 Q50,8 100,4");
  }

  75% {
    d: path("M0,6 Q50,3 100,6");
  }

  100% {
    d: path("M0,5 Q25,0 50,5 T100,5");
  }
}


@keyframes underline-wobble2 {
  0% {
    d: path("M0,5 Q50,0 100,5");
  }

  30% {
    d: path("M 0,-5 Q 20,10 100,-10");
  }

  70% {
    d: path("M 0,-5 Q 80,10 100,-10");
  }

  100% {
    d: path("M0,5 Q50,0 100,5");
  }
}



.animated-underline__text {
  position: relative;
  display: inline-block;
}

.animated-underline__svg {
  display: block;
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: -2px;
  height: 6px;
  width: calc(100% - 4px);
  fill: none;
  stroke: var(--underline-color, oklch(0.59 0.17 154));
  stroke-width: calc(var(--fontsize) / 6);
  stroke-linecap: round;
  overflow: visible;
}

.animated-underline__path {
  will-change: transform;
}

/* Optional: If you need the text outline effect */
.animated-underline__outline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-text-stroke: 4px var(--color-background);
  color: transparent;
  pointer-events: none;
}

body {
  --fontsize: 1.4rem;
  font-size: var(--fontsize);
  line-height: 1.4;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
